.button {
  width: 196px;
  height: 48px;
  box-sizing: border-box;
  box-shadow: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  text-decoration: none;

  &:hover {
    transition: all 0.3s;
    color: $white;
  }

  &:not(:hover) {
    transition: all 0.5s;
  }

  @include mq(1100px, max) {
    width: 195px;
    height: 45px;
  }

  @include mq(900px, max) {
    width: 160px;
    height: 37px;
  }

  @include mq(800px, max) {
    width: 142px;
    height: 33px;
  }

  @include mq(640px, max) {
    width: 114px;
    height: 27px;
  }
}



@include mq(1100px, max) {
}

@include mq(900px, max) {
}

@include mq(800px, max) {
}

@include mq(640px, max) {
}

@include mq(480px, max) {
}