.calculator-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: transparent;
  background: url('../img/calculator-header.png') center no-repeat;
  background-size: cover;
}

/*   calculator-header   */

.calculator-header__slogan-caption {
  margin: 165px 0 83px 0;
  font-family: $proximaNova-semibold;
  font-size: 40px;
  color: $white;
  text-align: center;
  text-transform: uppercase;

  @include mq(1100px, max) {
    font-size: 38px;
    margin: 145px 0 73px 0;
  }

  @include mq(900px, max) {
    font-size: 32px;
    margin: 125px 0 73px 0;
  }

  @include mq(800px, max) {
    font-size: 29px;
    margin: 105px 0 65px 0;
  }

  @include mq(640px, max) {
    font-size: 23px;
    margin: 85px 0 60px 0;
  }

  @include mq(480px, max) {
    font-size: 18px;
    margin: 55px 0;
  }

  span {
    color: $malachite;
  }
}


                    /*    calculator-main    */

.calculator-main {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.calculator-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: $white;
}



                      /*   calculator-introductory    */

.calculator-introductory {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  max-width: 930px;

  @include mq(1000px, max) {
    flex-direction: column;
  }
}

.calculator-introductory__object {
  margin: 37px 10px 0 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  @include mq(1000px, max) {
    margin: 37px 0 0 0;
  }

  @include mq(500px, max) {
    align-items: center;
  }
}

.calculator-introductory__object-title {
  margin-bottom: 23px;
  font-family: $proximaNova-semibold;
  font-size: 25px;
  color: $black;

  @include mq(500px, max) {
    font-size: 19px;
  }
}

.calculator-introductory__object-form {
  display: flex;
  justify-content: center;
  align-items: center;

  @include mq(500px, max) {
    flex-direction: column;
  }
}

.calculator-introductory__object-form--apartment {
  width: 216px;
  height: 47px;
  margin-right: 10px;
  padding-left: 8px;
  box-sizing: border-box;
  border: 1px solid $silver;
  border-radius: 4px;
  font-family: $proximaNova;
  font-weight: bold;
  font-size: 14px;
  color: $mine-shaft;
  outline: none;

  @include mq(500px, max) {
    margin: 0 0 15px 0;
  }
}

.calculator-introductory__object-form--rooms {
  width: 216px;
  height: 47px;
  margin-left: 10px;
  padding-left: 8px;
  box-sizing: border-box;
  border: 1px solid $silver;
  border-radius: 4px;
  font-family: $proximaNova;
  font-weight: bold;
  font-size: 14px;
  color: $mine-shaft;
  outline: none;

  @include mq(500px, max) {
    margin-left: 0;
  }
}


                            /*   calculator-introductory__data   */

.calculator-introductory__data {
  margin: 37px 0 0 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  @include mq(1000px, max) {
    margin: 0;
  }

  @include mq(500px, max) {
    align-items: center;
  }
}

.calculator-introductory__data-title {
  margin-bottom: 23px;
  font-family: $proximaNova-semibold;
  font-size: 25px;
  color: $black;

  @include mq(500px, max) {
    font-size: 19px;
  }
}

.calculator-introductory__data-form {
  display: flex;
  justify-content: center;
  align-items: center;

  @include mq(500px, max) {
    flex-direction: column;
  }
}

.calculator-introductory__data-form--dates {
  width: 216px;
  height: 47px;
  margin-right: 10px;
  padding-left: 8px;
  box-sizing: border-box;
  border: 1px solid $silver;
  border-radius: 4px;
  font-family: $proximaNova;
  font-weight: bold;
  font-size: 14px;
  color: $mine-shaft;
  outline: none;

  @include mq(500px, max) {
    margin: 0 0 15px 0;
  }
}

.calculator-introductory__data-form--times {
  width: 216px;
  height: 47px;
  margin-left: 10px;
  padding-left: 8px;
  box-sizing: border-box;
  border: 1px solid $silver;
  border-radius: 4px;
  font-family: $proximaNova;
  font-weight: bold;
  font-size: 14px;
  color: $mine-shaft;
  outline: none;

  @include mq(500px, max) {
    margin-left: 0;
  }
}



                                /*   calculator-types   */

.calculator-introductory__types {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  @include mq(1000px, max) {
    flex-direction: column;
  }

  @include mq(500px, max) {
    align-items: center;
  }
}

.calculator-introductory__types-title {
  margin-bottom: 23px;
  font-family: $proximaNova-semibold;
  font-size: 25px;
  color: $black;
  outline: none;

  @include mq(500px, max) {
    font-size: 19px;
  }
}

.calculator-introductory__types-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator-introductory__types-form--type {
  width: 216px;
  height: 47px;
  padding-left: 8px;
  box-sizing: border-box;
  border: 1px solid $silver;
  border-radius: 4px;
  font-family: $proximaNova;
  font-weight: bold;
  font-size: 14px;
  color: $mine-shaft;
}



                              /*   calculator-content   */

.calculator-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 25px 0 84px 0;

  @include mq(1000px, max) {
    flex-direction: column;
    align-items: center;
  }

  @include mq(500px, max) {
    padding: 25px 0 44px 0;
  }
}

.calculator-additional {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.calculator-additional__title {
  margin-bottom: 0;
  font-family: $proximaNova-semibold;
  font-weight: bold;
  font-size: 25px;
  color: $black;

  @include mq(500px, max) {
    font-size: 19px;
  }
}

.calculator-additional__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  @include mq(500px, max) {
    flex-direction: column;
  }
}


.calculator-additional__left {
  margin-right: 7px;

  @include mq(500px, max) {
    margin: 0;
  }
}

.calculator-additional__right {
  margin-left: 7px;

  @include mq(500px, max) {
    margin: 0;
  }
}


.additional-wrap {
  width: 222px;
  height: 90px;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  @include mq(500px, max) {
    width: 200px;
  }
}

.additional-title {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  height: 34px;
  font-family: $proximaNova;
  font-size: 14px;
  color: $mine-shaft;
}

.additional-list {
  width: 197px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
           /*    calculator-additional__form   */

.calculator-additional__form {
  margin: 7px 14px 0 0;
}

.data-input {
  width: 144px;
  height: 40px;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}


.data-input__theme {
  width: 60px;
  height: 32px;
  box-shadow: none;
  border-top: 2px solid $gallery;
  border-bottom: 2px solid $gallery;
  border-left: none;
  border-right: none;
  text-align: center;
  font-size: 20px;
  outline: none;
}

.button-minus {
  width: 41px;
  height: 38px;
  border: 2px solid $gallery;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background: $white;
  text-align: center;
  font-size: 20px;
  outline: none;
}

.button-plus {
  width: 41px;
  height: 38px;
  border: 2px solid $gallery;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background: $white;
  text-align: center;
  font-size: 20px;
  outline: none;
}

.calculator-additional__price {
  margin: 12px 0 0 0;
  font-family: $proximaNova;
  font-size: 12px;
  color: $mine-shaft;
}


                            /*   calculator-form   */

.calculator-forms {
  width: 454px;
  height: auto;
  margin: 29px 0 0 12px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid $dusty-grey;
  border-radius: 4px;
  box-shadow: 1px 1px 7px 0 $dusty-grey;

  @include mq(1000px, max) {
    margin: 29px 0 0 0;
  }

  @include mq(500px, max) {
    width: 284px;
    margin: 29px 0 0 0;
  }
}

.calculator-forms__title {
  width: 400px;
  margin-top: 28px;
  padding-left: 20px;
  display: flex;
  box-sizing: border-box;
  justify-content: flex-start;
  font-family: $proximaNova-semibold;
  font-size: 20px;
  color: $black;

  @include mq(500px, max) {
    width: 240px;
    font-size: 18px;
  }
}

.calculator-forms__amount {
  width: 400px;
  margin: 0 0 12px 0;
  padding-left: 22px;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  font-family: $proximaNova-semibold;
  font-size: 45.76px;
  color: $woodland;

  @include mq(500px, max) {
    width: 240px;
    font-size: 25.76px;
  }
}

.calculator-forms__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.calculator-forms__form-name {
  width: 400px;
  height: 38px;
  padding-left: 14px;
  box-sizing: border-box;
  border: 1px solid $dusty-grey;
  border-radius: 4px;
  outline: none;

  @include mq(500px, max) {
    width: 240px;
  }
}

.calculator-forms__form-tel {
  width: 400px;
  height: 38px;
  margin: 15px 0;
  padding-left: 14px;
  box-sizing: border-box;
  border: 1px solid $dusty-grey;
  border-radius: 4px;
  outline: none;

  @include mq(500px, max) {
    width: 240px;
  }
}

.calculator-forms__form-comments {
  width: 400px;
  height: 123px;
  padding-left: 14px;
  box-sizing: border-box;
  border: 1px solid $dusty-grey;
  border-radius: 4px;
  outline: none;

  @include mq(500px, max) {
    width: 240px;
  }
}

.calculator-forms__form-submit {
  width: 400px;
  height: 38px;
  margin: 17px 0 12px 0;
  box-sizing: border-box;
  border-radius: 4px;
  background: $malachite;
  border: none;
  box-shadow: none;
  font-family: $proximaNova;
  font-size: 14px;
  color: $black;
  text-transform: uppercase;
  outline: none;

  &:hover {
    background: $fun-green;
    color: $white;
    transition: 0.5s all;
  }

  &:not(:hover) {
    transition: 0.5s all;
  }

  @include mq(500px, max) {
    width: 240px;
  }
}

.calculator-forms__comment {
  width: 391px;
  margin-top: 9px;
  font-family: $proximaNova;
  font-size: 10px;
  color: $mine-shaft;

  @include mq(500px, max) {
    width: 240px;
  }
}

.calculator-forms__comment-2 {
  width: 391px;
  margin: 16px 0 28px 0;
  font-family: $proximaNova;
  font-size: 10px;
  color: $mine-shaft;

  @include mq(500px, max) {
    width: 240px;
  }
}












