.header-entrance {
  -webkit-filter: blur(4px);
  -moz-filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
  filter: blur(4px);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background: transparent;
  background: url('../img/header-background.png') center no-repeat;
  background-size: cover;
}




.main-entrance {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  background: rgba(0,0,0,0.7);
  z-index: 10000;
}

.main-entrance__wrapper {
  width: 427px;
  height: 265px;
  margin: 0 auto;
  position: absolute;
  top: 30vh;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $white;
  border-radius: 4px;

  @include mq(500px, max) {
    width: 340px;
    height: auto;
  }

  @include mq(400px, max) {
    width: 272px;
    height: auto;
  }
}

.main-entrance-title {
  font-family: $proximaNova-semibold;
  font-size: 25px;
  color: $mine-shaft;
  text-align: center;

  @include mq(500px, max) {
    font-size: 20px;
  }

  @include mq(400px, max) {
    font-size: 16px;
  }

  span {
    color: $camarone;
  }
}

.main-entrance__form-object {
  width: 216px;
  height: 50px;
  margin-top: 4px;
  padding-left: 20px;
  border-radius: 4px;
  font-family: $proximaNova;
  font-size: 14px;
  font-weight: bold;
  color: $mine-shaft;
  outline: none;

  @include mq(500px, max) {
    width: 172px;
    height: 40px;
    padding-left: 16px;
    font-size: 12px;
  }
}

.main-entrance__link {
  width: 216px;
  height: 50px;
  margin: 13px 0 34px 0;
  box-sizing: border-box;
  box-shadow: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  text-decoration: none;
  background: $malachite;
  font-family: $proximaNova;
  font-size: 14px;
  font-weight: bold;
  color: $mine-shaft;
  outline: none;

  &:hover {
    transition: all 0.3s;
    background: $fun-green;
    color: $white;
  }

  &:not(:hover) {
    transition: all 0.5s;
  }

  @include mq(500px, max) {
    width: 172px;
    height: 40px;
    margin: 11px 0 27px 0;
    font-size: 12px;
  }
}









