.page-footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  background: $tundora;
}

.footer-navigation {
  margin: 40px 0 27px 0;
  display: flex;
  justify-content: center;

  @include mq(1100px, max) {
    width: 480px;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @include mq(580px, max) {
    width: auto;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
}

.footer-navigation__apartments {
  margin-right: 67px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @include mq(1100px, max) {
    margin-right: 0;
  }
}

.footer-navigation__apartments-title {
  font-family: $proximaNova;
  font-weight: bold;
  font-size: 14px;
  color: $white;
  text-transform: uppercase;
}

.footer-navigation__apartments-link {
  font-family: $proximaNova;
  font-weight: 400;
  font-size: 14px;
  color: $white;
  text-decoration: none;
}

.footer-navigation__offices {
  margin-right: 33px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @include mq(1100px, max) {
    margin-right: 0;
  }

  @include mq(580px, max) {
    margin-top: 30px;
  }
}

.footer-navigation__offices-title {
  font-family: $proximaNova;
  font-weight: bold;
  font-size: 14px;
  color: $white;
  text-transform: uppercase;
}

.footer-navigation__offices-link {
  font-family: $proximaNova-semibold;
  font-weight: 400;
  font-size: 14px;
  color: $white;
  text-decoration: none;
}

.footer-navigation__cottages {
  margin-right: 26px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @include mq(1100px, max) {
    margin: 30px 0 0 0;
  }
}

.footer-navigation__cottages-title {
  font-family: $proximaNova;
  font-weight: bold;
  font-size: 14px;
  color: $white;
  text-transform: uppercase;
}

.footer-navigation__cottages-link {
  font-family: $proximaNova-semibold;
  font-weight: 400;
  font-size: 14px;
  color: $white;
  text-decoration: none;
}

.footer-navigation__about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @include mq(1100px, max) {
    margin: 30px 0 0 0;
  }
}

.footer-navigation__about-title {
  font-family: $proximaNova;
  font-weight: bold;
  font-size: 14px;
  color: $white;
  text-transform: uppercase;
}

.footer-navigation__about-link {
  font-family: $proximaNova-semibold;
  font-weight: 400;
  font-size: 14px;
  color: $white;
  text-decoration: none;
}


                            /*   footer-communications   */


.footer-communications {
  margin: 27px 0 68px 0;
  display: flex;
  justify-content: center;

  @include mq(1100px, max) {
    width: 460px;
    flex-wrap: wrap;
  }

  @include mq(580px, max) {
    width: auto;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    margin: 27px 0 38px 0;
  }
}

.footer-communications__chats {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @include mq(1100px, max) {
    align-items: center;
  }
}

.footer-communications__chats-title {
  font-family: $proximaNova;
  font-weight: bold;
  font-size: 14px;
  color: $white;
  text-transform: uppercase;
}

.footer-communications__chats-list {
  margin-top: 19px;
  display: flex;
  justify-content: center;

  @include mq(580px, max) {
    flex-direction: column;
    align-items: center;
  }
}

.footer-communications__chats-link {
  width: 140px;
  height: 47px;
  display: flex;
  align-items: center;
  border-radius: 23px;
  font-family: $proximaNova;
  font-weight: 400;
  font-size: 12px;
  color: $white;
  text-decoration: none;
}

.viber-1 {
  background: $royal-purple;

  img {
    margin: 0 13px;
  }
}

.viber-2 {
  background: $apple;
  margin: 0 15px 0 18px;

  @include mq(580px, max) {
    margin: 20px 0 20px 0;
  }

  img {
    margin: 0 13px;
  }
}

.vk {
  background: $hippie-blue;

  img {
    margin: 0 12px;
  }
}

.footer-communications__contacts {
  width: 185px;
  margin: 0 46px 0 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @include mq(1100px, max) {
    margin: 0 66px 0 0;
  }

  @include mq(580px, max) {
    margin: 20px 0;
    align-items: center;
    text-align: center;
  }
}

.footer-communications__contacts-title {
  margin-bottom: 18px;
  font-family: $proximaNova;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  color: $white;

  @include mq(1100px, max) {
    margin: 30px 0 18px 10px;
  }

  @include mq(580px, max) {
    margin: 0 0 18px 0;
  }
}

.footer-communications__contacts-phone {
  font-family: $proximaNova;
  font-weight: 400;
  font-size: 14px;
  color: $white;
  text-decoration: none;
}

.footer-communications__contacts-comment {
  font-family: $proximaNova;
  font-weight: 400;
  font-size: 14px;
  color: $white;
}

.footer-communications__socials {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @include mq(1100px, max) {
    margin: 30px 0 0 0;
  }

  @include mq(580px, max) {
    text-align: center;
  }
}

.footer-communications__socials-list {
  margin-top: 23px;
  display: flex;
  justify-content: center;
}

.footer-communications__socials-title {
  font-family: $proximaNova;
  font-weight: bold;
  font-size: 14px;
  color: $white;
  text-transform: uppercase;

  @include mq(580px, max) {
    text-align: center;
  }
}

.footer-communications__socials-link {
  font-family: $proximaNova;
  font-weight: 400;
  font-size: 14px;
  color: $white;
  text-decoration: none;
}

































