.page-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background: transparent;
  background: url('../img/header-background.png') center no-repeat;
  background-size: cover;
}

.page-header__wrapper {
  height: 87px;
  width: 100%;
  box-sizing: border-box;
  padding: 0 21px 0 34px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $white;
  position: fixed;
  top: 0;
  z-index: 1000;
  box-shadow: 0 0 20px rgba(0,0,0,0.7);

  @include mq(1100px, max) {
    height: 77px;
    padding: 0 17px 0 27px;
  }

  @include mq(910px, max) {
    height: auto;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px 0 20px;
    position: relative;
  }
}

.page-header__logo {
  height: 43px;
  margin-top: 5px;

  @include mq(1100px, max) {
    height: 35px;
    margin-top: 4px;
  }

  @include mq(910px, max) {
    height: 43px;
    margin-top: 30px;
  }

  @include mq(560px, max) {
    margin-top: 20px;
  }

  @include mq(460px, max) {
    margin-top: 15px;
  }
}

.page-header__logo-link {
  display: flex;
  height: 43px;
  box-sizing: border-box;

  @include mq(1100px, max) {
    height: 35px;
  }

  @include mq(910px, max) {
    height: 43px;
  }

  @include mq(460px, max) {
    height: 35px;
  }
}

.header-content__logo-image {
  width: 173px;
  height: 43px;

  @include mq(1100px, max) {
    width: 138px;
    height: 35px;
  }

  @include mq(910px, max) {
    width: 173px;
    height: 43px;
  }

  @include mq(460px, max) {
    width: 138px;
    height: 35px;
  }
}

.page-header__links {
  display: flex;
  align-items: center;

  @include mq(910px, max) {
    width: 550px;
    height: auto;
    margin: 30px 0 30px 0;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  @include mq(560px, max) {
    margin: 20px 0 20px 0;
    width: auto;
    flex-direction: column;
  }

  @include mq(460px, max) {
    margin: 10px 0 10px 0;
  }
}

.page-header__link {
  margin: 0 18px 0 18px;
  display: flex;
  font-family: $proximaNova;
  font-size: 14px;
  font-weight: 400;
  color: $gray;
  text-transform: uppercase;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  @include mq(1100px, max) {
    margin: 0 14px 0 14px;
    font-size: 13px;
  }

  @include mq(910px, max) {
    margin: 0 10px 30px 10px;
    font-size: 14px;
  }

  @include mq(560px, max) {
    margin: 0 0 15px 0;
  }

  @include mq(460px, max) {
    margin: 0 0 10px 0;
    font-size: 12px;
  }
}

.page-header__link-button {
  width: 164px;
  height: 35px;
  margin: 0 0 0 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  background: $malachite;
  font-family: $proximaNova-semibold;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
  color: $black;
  text-decoration: none;

  &:hover {
    transition: all 0.5s;
    background: $fun-green;
    color: $white;
  }

  &:not(:hover) {
    transition: all 0.5s;
  }

  @include mq(1100px, max) {
    width: 131px;
    height: 28px;
    margin: 0 0 0 15px;
    font-size: 13px;
  }

  @include mq(910px, max) {
    width: 164px;
    height: 35px;
    margin: 0;
    font-size: 14px;
  }

  @include mq(460px, max) {
    width: 131px;
    height: 28px;
    margin: 0;
    font-size: 12px;
  }
}

                                /*   header-slogan   */

.header-slogan {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: transparent;
  margin-top: 87px;

  @include mq(1100px, max) {
    margin-top: 47px;
  }
}

.header-slogan__text {
  margin: 243px 0 13px 0;

  @include mq(1100px, max) {
    margin: 146px 0 12px 0;
  }

  @include mq(900px, max) {
    margin: 119px 0 10px 0;
  }

  @include mq(800px, max) {
    margin: 106px 0 9px 0;
  }

  @include mq(640px, max) {
    margin: 85px 0 7px 0;
  }

  @include mq(480px, max) {
    margin: 64px 0 5px 0;
  }
}

.header-slogan__text-caption {
  margin: 0;
  font-family: $proximaNova-semibold;
  font-size: 45px;
  color: $white;
  text-align: center;
  text-transform: uppercase;

  @include mq(1100px, max) {
    font-size: 40px;
  }

  @include mq(900px, max) {
    font-size: 32px;
  }

  @include mq(800px, max) {
    font-size: 29px;
  }

  @include mq(640px, max) {
    font-size: 23px;
  }

  @include mq(480px, max) {
    font-size: 18px;
  }

  span {
    color: $malachite;
  }
}

.header-slogan__comment {
  margin: 0;
  font-family: $proximaNova-semibold;
  font-size: 25px;
  color: $white;

  @include mq(1100px, max) {
    font-size: 22px;
  }

  @include mq(900px, max) {
    font-size: 18px;
  }

  @include mq(800px, max) {
    font-size: 16px;
  }

  @include mq(640px, max) {
    margin-top: 10px;
    width: 90%;
    font-size: 13px;
    text-align: center;
  }
}


                              /*   header-cleaning   */

.header-cleaning {
  width: 960px;
  height: 173px;
  margin: 191px 0 89px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $white;
  border-radius: 3px;

  @include mq(1100px, max) {
    width: 770px;
    height: 156px;
    margin: 171px 0 80px 0;
  }

  @include mq(900px, max) {
    width: 710px;
    height: auto;
    margin: 141px 0 65px 0;
  }

  @include mq(800px, max) {
    width: 495px;
    margin: 125px 0 58px 0;
  }

  @include mq(640px, max) {
    width: 356px;
    margin: 100px 0 47px 0;
  }

  @include mq(480px, max) {
    width: 277px;
    margin: 75px 0 35px 0;
  }
}

.header-cleaning__title {
  margin: 17px 0;
  font-family: $proximaNova-semibold;
  font-size: 25px;
  color: $mine-shaft;

  @include mq(1100px, max) {
    margin: 15px 0;
    font-size: 22px;
  }

  @include mq(900px, max) {
    margin: 12px 0;
    font-size: 18px;
  }

  @include mq(800px, max) {
    margin: 17px 0;
    font-size: 25px;
  }

  @include mq(640px, max) {
    margin: 15px 0;
    font-size: 21px;
  }

  @include mq(480px, max) {
    font-size: 19px;
  }
}

.header-cleaning__form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  @include mq(800px, max) {
    flex-direction: column;
    align-items: center;
  }
}

.header-cleaning__form-object {
  width: 221px;
  height: 48px;
  padding-left: 14px;
  display: flex;
  align-items: center;
  border: 1px solid $french-gray;
  border-radius: 2px;
  font-family: $proximaNova;
  font-size: 14px;
  background: $white;
  color: $mine-shaft;

  @include mq(1100px, max) {
    width: 148px;
    height: 43px;
    padding-left: 12px;
    font-size: 12px;
  }

  @include mq(900px, max) {
    width: 123px;
    height: 35px;
    padding-left: 5px;
    font-size: 12px;
  }

  @include mq(800px, max) {
    width: 196px;
    height: 48px;
    padding-left: 14px;
    font-size: 14px;
  }

  @include mq(640px, max) {
    width: 176px;
    height: 43px;
    padding-left: 12px;
    font-size: 12px;
  }

  @include mq(480px, max) {
    width: 164px;
    height: 35px;
    padding-left: 10px;
    font-size: 12px;
  }
}

.header-cleaning__form-rooms {
  display: flex;
  margin: 0 16px;
  border: 1px solid $french-gray;
  border-radius: 2px;

  @include mq(1100px, max) {
    margin: 0 14px;
  }

  @include mq(900px, max) {
    margin: 0 12px;
  }

  @include mq(800px, max) {
    margin: 20px 0;
  }

  @include mq(640px, max) {
    margin: 15px 0;
  }

  @include mq(480px, max) {
    margin: 13px 0;
  }
}

.header-cleaning__form-room {
  width: 111px;
  height: 46px;
  padding-left: 14px;
  display: flex;
  align-items: center;
  font-family: $proximaNova;
  font-size: 14px;
  border: none;
  background: $white;
  border-right: 1px solid $french-gray;
  color: $mine-shaft;

  @include mq(1100px, max) {
    width: 100px;
    height: 41px;
    padding-left: 12px;
    font-size: 12px;
  }

  @include mq(900px, max) {
    width: 82px;
    height: 34px;
    padding-left: 5px;
    font-size: 12px;
  }

  @include mq(800px, max) {
    width: 97px;
    height: 46px;
    padding-left: 7px;
    font-size: 14px;
  }

  @include mq(640px, max) {
    width: 87px;
    height: 41px;
    padding-left: 6px;
    font-size: 12px;
  }

  @include mq(480px, max) {
    width: 81px;
    height: 35px;
    padding-left: 3px;
    font-size: 12px;
  }
}

.header-cleaning__form-phone {
  width: 190px;
  height: 44px;
  margin-right: 16px;
  padding-left: 14px;
  display: flex;
  align-items: center;
  border: 1px solid $french-gray;
  border-radius: 2px;
  font-family: $proximaNova;
  font-size: 14px;
  background: $white;
  color: $mine-shaft;

  @include mq(1100px, max) {
    width: 108px;
    height: 41px;
    padding-left: 12px;
    font-size: 12px;
  }

  @include mq(900px, max) {
    width: 103px;
    height: 32px;
    padding-left: 5px;
    font-size: 12px;
  }

  @include mq(800px, max) {
    width: 196px;
    height: 48px;
    margin: 0 0 20px 0;
    box-sizing: border-box;
    padding-left: 14px;
    font-size: 14px;
  }

  @include mq(640px, max) {
    width: 176px;
    height: 43px;
    padding-left: 12px;
    font-size: 12px;
  }

  @include mq(480px, max) {
    width: 164px;
    height: 35px;
    padding-left: 10px;
    font-size: 12px;
  }
}

.header-cleaning__form-bathroom {
  width: 111px;
  height: 46px;
  padding-left: 14px;
  display: flex;
  align-items: center;
  font-family: $proximaNova;
  font-size: 14px;
  border: none;
  background: $white;
  color: $mine-shaft;

  @include mq(1100px, max) {
    width: 100px;
    height: 41px;
    padding-left: 12px;
    font-size: 12px;
  }

  @include mq(900px, max) {
    width: 82px;
    height: 34px;
    padding-left: 5px;
    font-size: 12px;
  }

  @include mq(800px, max) {
    width: 97px;
    height: 46px;
    padding-left: 7px;
    font-size: 14px;
  }

  @include mq(640px, max) {
    width: 87px;
    height: 41px;
    padding-left: 6px;
    font-size: 12px;
  }

  @include mq(480px, max) {
    width: 81px;
    height: 35px;
    padding-left: 3px;
    font-size: 12px;
  }
}

.header-cleaning__form-button {
  width: 196px;
  height: 48px;
  box-sizing: border-box;
  box-shadow: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  font-family: $proximaNova;
  font-size: 14px;
  text-transform: uppercase;
  color: $black;
  background: $malachite;
  border: none;
  text-decoration: none;

  @include mq(1100px, max) {
    width: 176px;
    height: 43px;
    font-size: 12px;
  }

  @include mq(900px, max) {
    width: 145px;
    height: 36px;
    font-size: 11px;
  }

  @include mq(800px, max) {
    width: 196px;
    height: 48px;
    font-size: 14px;
  }

  @include mq(640px, max) {
    width: 176px;
    height: 43px;
    font-size: 12px;
  }

  @include mq(480px, max) {
    width: 164px;
    height: 35px;
    font-size: 12px;
  }

  &:hover {
    transition: all 0.5s;
    background: $fun-green;
    color: $white;
  }

  &:not(:hover) {
    transition: all 0.5s;
  }
}

.header-cleaning__comment {
  margin: 21px 0 25px 0;
  font-family: $proximaNova-light;
  font-size: 12px;
  color: $black;

  @include mq(800px, max) {
    width: 90%;
    text-align: center;
    font-size: 11px;
  }
}


