.page-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $white;

  /*@include mq(1200px, max) {
    flex-direction: column;
    align-items: center;
  }*/
}


                              /*   main-service   */

.main-service {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $white;
}

.main-service__title {
  margin: 77px 0 67px 0;
  font-family: $proximaNova-semibold;
  font-size: 40px;
  font-weight: 400;
  color: $fun-green;

  @include mq(1100px, max) {
    margin: 70px 0 60px 0;
    font-size: 36px;
  }

  @include mq(900px, max) {
    margin: 57px 0 50px 0;
    font-size: 30px;
  }

  @include mq(800px, max) {
    margin: 51px 0 44px 0;
    font-size: 26px;
  }

  @include mq(640px, max) {
    margin: 57px 0 50px 0;
    font-size: 30px;
  }

  @include mq(480px, max) {
    margin: 51px 0 44px 0;
    font-size: 26px;
  }

  span {
    font-family: $proximaNova;
    text-transform: uppercase;
    color: $dove-gray;
    font-weight: 100;
  }
}

.main-service__list {
  display: flex;
  justify-content: center;

  @include mq(640px, max) {
    flex-direction: column;
    align-items: center;
  }
}

.main-service__list-left {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include mq(480px, max) {
    width: 270px;
  }
}

.main-service__list-right {
  margin-left: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include mq(1100px, max) {
    margin-left: 63px;
  }

  @include mq(900px, max) {
    margin-left: 52px;
  }

  @include mq(800px, max) {
    margin-left: 20px;
  }

  @include mq(640px, max) {
    margin: 0;
  }

  @include mq(480px, max) {
    width: 270px;
  }
}

.main-service__list-item {
  margin: 0 0 46px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  @include mq(1100px, max) {
    margin: 0 0 42px 0;
  }

  @include mq(900px, max) {
    margin: 0 0 34px 0;
  }

  @include mq(800px, max) {
    margin: 0 0 30px 0;
  }

  @include mq(640px, max) {
    margin: 0 0 34px 0;
  }

  @include mq(480px, max) {
    margin: 0 0 30px 0;
  }
}

.main-service__list-item--image {

  img {
    @include mq(1100px, max) {
      width: 80px;
      height: 91px;
    }

    @include mq(900px, max) {
      width: 65px;
      height: 75px;
    }

    @include mq(800px, max) {
      width: 58px;
      height: 67px;
    }

    @include mq(640px, max) {
      width: 65px;
      height: 75px;
    }

    @include mq(480px, max) {
      width: 58px;
      height: 67px;
    }
  }
}

.main-service__list-item--comment {
  margin-left: 21px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @include mq(1100px, max) {
    margin-left: 19px;
  }

  @include mq(900px, max) {
    margin-left: 16px;
  }

  @include mq(800px, max) {
    margin-left: 14px;
  }

  @include mq(640px, max) {
    margin-left: 16px;
  }

  @include mq(480px, max) {
    margin-left: 14px;
  }
}

.main-service__list-item--title {
  margin: 0;
  font-family: $proximaNova;
  font-size: 25px;
  line-height: 1.8;
  font-weight: bold;
  color: $black;

  @include mq(1100px, max) {
    font-size: 23px;
  }

  @include mq(900px, max) {
    font-size: 19px;
  }

  @include mq(800px, max) {
    font-size: 16px;
  }

  @include mq(640px, max) {
    font-size: 19px;
  }

  @include mq(480px, max) {
    font-size: 16px;
  }
}

.main-service__list-item--text {
  font-family: $proximaNova;
  font-size: 18px;
  font-weight: 400;
  color: $black;

  @include mq(1100px, max) {
    font-size: 17px;
  }

  @include mq(900px, max) {
    font-size: 14px;
  }

  @include mq(800px, max) {
    font-size: 13px;
  }

  @include mq(640px, max) {
    font-size: 14px;
  }

  @include mq(480px, max) {
    font-size: 13px;
  }
}

.main-service__comment {
  margin: 27px 0 81px 0;
  font-family: $proximaNova-semibold;
  font-size: 30px;
  font-weight: 100;
  color: $dove-gray;

  @include mq(1100px, max) {
    margin: 24px 0 73px 0;
    font-size: 27px;
  }

  @include mq(900px, max) {
    margin: 20px 0 60px 0;
    font-size: 22px;
  }

  @include mq(800px, max) {
    margin: 18px 0 53px 0;
    font-size: 20px;
  }

  @include mq(640px, max) {
    width: 90%;
    margin: 20px 0 60px 0;
    font-size: 22px;
    text-align: center;
  }

  @include mq(480px, max) {
    margin: 18px 0 53px 0;
    font-size: 20px;
  }
}


                              /*   main-guarantee   */

.main-guarantee {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url('../img/01.jpg') no-repeat;
  background-position: 22% 20%;
  background-size: 110%;

  @include mq(1100px, max) {
    height: auto;
    background-size: 110% 110%;
  }

  @include mq(1000px, max) {
    height: auto;
    background-size: auto 100%;
  }

  @include mq(640px, max) {
    height: auto;
    background-size: cover;
  }
}

.main-guarantee__caption {
  width: 800px;
  height: 165px;
  margin: 168px 0 29px 0;

  @include mq(1100px, max) {
    width: 720px;
    height: auto;
    margin: 190px 0 16px 0;
  }

  @include mq(900px, max) {
    width: 590px;
    margin: 150px 0 13px 0;
  }

  @include mq(800px, max) {
    width: 525px;
    margin: 130px 0 12px 0;
  }

  @include mq(640px, max) {
    width: 420px;
    margin: 98px 0 9px 0;
  }

  @include mq(480px, max) {
    width: 300px;
    margin: 36px 0 17px 0;
  }
}

.main-guarantee__caption-text {
  margin: 0;
  font-family: $proximaNova;
  font-size: 45px;
  font-weight: bold;
  line-height: 57px;
  color: $white;
  text-align: center;
  text-transform: uppercase;

  span {
    color: $malachite;
  }

  @include mq(1100px, max) {
    font-size: 40px;
    line-height: 48px;
  }

  @include mq(900px, max) {
    font-size: 33px;
    line-height: 40px;
  }

  @include mq(800px, max) {
    font-size: 29px;
    line-height: 36px;
  }

  @include mq(640px, max) {
    font-size: 23px;
    line-height: 29px;
  }

  @include mq(480px, max) {
    font-size: 17px;
    line-height: 22px;
  }
}

.main-guarantee__text {
  width: 840px;
  font-family: $proximaNova;
  font-size: 25px;
  font-weight: 100;
  line-height: 29px;
  color: $white;
  text-align: center;

  @include mq(1100px, max) {
    width: 756px;
    height: auto;
    font-size: 22px;
    line-height: 33px;
  }

  @include mq(900px, max) {
    width: 620px;
    font-size: 18px;
    line-height: 27px;
  }

  @include mq(800px, max) {
    width: 552px;
    font-size: 16px;
    line-height: 24px;
  }

  @include mq(640px, max) {
    width: 441px;
    font-size: 13px;
    line-height: 19px;
  }

  @include mq(480px, max) {
    width: 300px;
    font-size: 10px;
    line-height: 15px;
  }
}

.main-guarantee__button {
  margin: 83px 0 163px 0;

  @include mq(1100px, max) {
    margin: 75px 0 107px 0;
  }

  @include mq(900px, max) {
    margin: 61px 0 90px 0;
  }

  @include mq(800px, max) {
    margin: 55px 0 77px 0;
  }

  @include mq(640px, max) {
    margin: 44px 0 55px 0;
  }

  @include mq(480px, max) {
    margin: 33px 0 44px 0;
  }

  @include mq(390px, max) {
    margin: 23px 0 34px 0;
  }
}

.main-guarantee__button-link {
  width: 196px;
  height: 48px;
  box-sizing: border-box;
  box-shadow: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  text-decoration: none;
  font-family: $proximaNova;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  text-transform: uppercase;
  color: $black;
  background: $malachite;
  border: none;

  &:hover {
    transition: all 0.3s;
    background: $fun-green;
    color: $white;
  }

  &:not(:hover) {
    transition: all 0.5s;
  }


  @include mq(1100px, max) {
    width: 195px;
    height: 45px;
    font-size: 14px;
  }

  @include mq(900px, max) {
    width: 160px;
    height: 37px;
    font-size: 13px;
  }

  @include mq(800px, max) {
    width: 150px;
    height: 35px;
    font-size: 11px;
  }

  @include mq(640px, max) {
    width: 124px;
    height: 30px;
    font-size: 10px;
  }
}

                /*   popup   */
/*.popup {
  background: #fff;
  width: 800px;
  padding: 20px;
  margin: 0 auto;
  position: relative;
}*/




                              /*   main-price   */

.main-price {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $white;
}

.main-price__text {
  margin: 30px 0 30px 0;

  @include mq(1000px, max) {
    margin: 57px 0 33px 0;
  }

  @include mq(1000px, max) {
    margin: 37px 0 23px 0;
  }

  @include mq(680px, max) {
    margin: 0;
  }

  @include mq(480px, max) {
  }
}

.main-price__text-caption {
  font-family: $proximaNova-semibold;
  font-size: 40px;
  color: $emperor;
  font-weight: 400;
  text-align: center;

  @include mq(1000px, max) {
    font-size: 30px;
  }

  @include mq(500px, max) {
    font-size: 25px;
  }
}

.main-price__steps {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include mq(854px, max) {
    flex-wrap: wrap;
    justify-content: center;
  }

  @include mq(480px, max) {
    flex-direction: column;
    align-items: center;
  }
}

.main-price__step {
  width: 218px;
  margin: 0 68px 0 68px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid $alto;
  border-radius: 4px;

  @include mq(1000px, max) {
    margin: 0 45px 0 45px;
  }

  @include mq(900px, max) {
    width: 196px;
    margin: 0 31px 0 31px;
  }

  @include mq(900px, max) {
    width: 161px;
    margin: 0 25px 0 25px;
  }

  @include mq(800px, max) {
    width: 143px;
    margin: 0 15px 0 15px;
    /*margin: 0 45px 0 45px;*/
  }

  @include mq(640px, max) {
    width: 114px;
    /*margin: 0 35px 0 35px;*/
  }

  @include mq(480px, max) {
    width: 161px;
    margin: 15px 0 15px 0;
  }
}

.main-price__step-number {
  margin: 10px 0 15px 0;
  font-family: $proximaNova;
  font-size: 25px;
  color: $emperor;
  font-weight: 400;
  line-height: 25px;
  text-align: center;

  @include mq(1100px, max) {
    margin: 9px 0 13px 0;
    font-size: 22px;
    line-height: 22px;
  }

  @include mq(900px, max) {
    margin: 8px 0 11px 0;
    font-size: 18px;
    line-height: 18px;
  }

  @include mq(800px, max) {
    margin: 7px 0 10px 0;
    font-size: 16px;
    line-height: 16px;
  }

  @include mq(640px, max) {
    margin: 5px 0 8px 0;
    font-size: 13px;
    line-height: 13px;
  }

  @include mq(480px, max) {
    margin: 7px 0 10px 0;
    font-size: 16px;
    line-height: 16px;
  }
}

.main-price__step-text--caption {
  font-family: $proximaNova;
  font-size: 45px;
  font-weight: bold;
  line-height: 45px;
  color: $black;
  text-align: center;

  @include mq(1100px, max) {
    font-size: 41px;
    line-height: 41px;
  }

  @include mq(900px, max) {
    font-size: 33px;
    line-height: 33px;
  }

  @include mq(800px, max) {
    font-size: 30px;
    line-height: 30px;
  }

  @include mq(640px, max) {
    font-size: 24px;
    line-height: 24px;
  }

  @include mq(480px, max) {
    font-size: 30px;
    line-height: 30px;
  }
}

.main-price__step-text {
  margin: 8px 0 14px 0;
  font-family: $proximaNova;
  font-size: 25px;
  font-weight: 400;
  line-height: 25px;
  text-decoration: line-through;
  color: $emperor;
  text-align: center;

  @include mq(1100px, max) {
    margin: 7px 0 12px 0;
    font-size: 22px;
    line-height: 22px;
  }

  @include mq(900px, max) {
    margin: 6px 0 10px 0;
    font-size: 18px;
    line-height: 18px;
  }

  @include mq(800px, max) {
    margin: 5px 0 9px 0;
    font-size: 16px;
    line-height: 16px;
  }

  @include mq(640px, max) {
    margin: 4px 0 7px 0;
    font-size: 13px;
    line-height: 13px;
  }

  @include mq(480px, max) {
    margin: 5px 0 9px 0;
    font-size: 16px;
    line-height: 16px;
  }
}

.main-price__step-button {
  width: 196px;
  height: 48px;
  margin-bottom: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $proximaNova-semibold;
  font-size: 16px;
  color: $emperor;
  font-weight: 400;
  text-decoration: none;
  background: $malachite;
  border-radius: 3px;

  &:hover {
    transition: all 0.3s;
    background: $fun-green;
    color: $white;
  }

  &:not(:hover) {
    transition: all 0.3s;
  }


  @include mq(1100px, max) {
    width: 176px;
    height: 43px;
    font-size: 15px;
  }

  @include mq(900px, max) {
    width: 144px;
    height: 35px;
    font-size: 14px;
  }

  @include mq(800px, max) {
    width: 128px;
    height: 31px;
    font-size: 13px;
  }

  @include mq(640px, max) {
    width: 103px;
    height: 25px;
    font-size: 11px;
  }

  @include mq(480px, max) {
    width: 128px;
    height: 31px;
    font-size: 13px;
  }
}

.main-price__comment {
  margin: 63px 0 79px 0;
  font-family: $proximaNova;
  font-size: 14px;
  color: $emperor;
  font-weight: 400;
  line-height: 14px;
  text-align: center;

  @include mq(900px, max) {
    width: 85%;
    margin: 43px 0 59px 0;
  }

  @include mq(640px, max) {
    margin: 33px 0 39px 0;
  }
}


                              /*   main-question   */

.main-question {
  width: 100%;
  background: $wild-sand;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-question__caption {
  margin: 16px 0 21px 0;
}

.main-question__caption-text {
  font-family: $proximaNova-semibold;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  color: $emperor;
  text-align: center;

  @include mq(1100px, max) {
    font-size: 36px;
    line-height: 36px;
  }

  @include mq(900px, max) {
    font-size: 30px;
    line-height: 30px;
  }

  @include mq(800px, max) {
    font-size: 26px;
    line-height: 26px;
  }

  @include mq(640px, max) {
    font-size: 21px;
    line-height: 21px;
  }

  @include mq(480px, max) {
    font-size: 16px;
    line-height: 16px;
  }
}

.ac-container {
  width: 957px;

  @include mq(1100px, max) {
    width: 860px;
  }

  @include mq(900px, max) {
    width: 706px;
  }

  @include mq(800px, max) {
    width: 629px;
  }

  @include mq(670px, max) {
    width: 85%;
  }
}

.main-question__text-pr {
  display: block;
  position: relative;
  height: 24px;
  z-index: 20;
  cursor: pointer;
  margin-bottom: 16px;
  padding: 0 115px 15px 11px;
  border-bottom: 1px solid $silver;
  font-family: $proximaNova;
  font-size: 20px;
  font-weight: bold;
  color: $emperor;

  @include mq(1100px, max) {
    margin-bottom: 15px;
    padding: 0 103px 13px 10px;
    font-size: 19px;
  }

  @include mq(900px, max) {
    margin-bottom: 13px;
    padding: 0 85px 11px 8px;
    font-size: 17px;
  }

  @include mq(800px, max) {
    margin-bottom: 11px;
    padding: 0 75px 10px 7px;
    font-size: 15px;
  }

  @include mq(680px, max) {
    height: auto;
    margin-bottom: 9px;
    padding: 0 60px 8px 6px;
    font-size: 14px;
  }

  @include mq(480px, max) {
    margin-bottom: 7px;
    padding: 0 45px 6px 5px;
    font-size: 13px;
  }
}

.main-question__text-pr2 {
  display: block;
  position: relative;
  height: 48px;
  z-index: 20;
  cursor: pointer;
  padding: 0 115px 15px 11px;
  border-bottom: 1px solid $silver;
  font-family: $proximaNova;
  font-size: 20px;
  font-weight: bold;
  color: $emperor;

  @include mq(1100px, max) {
    margin-bottom: 15px;
    padding: 0 103px 13px 10px;
    font-size: 19px;
  }

  @include mq(900px, max) {
    margin-bottom: 13px;
    padding: 0 85px 11px 8px;
    font-size: 17px;
  }

  @include mq(800px, max) {
    margin-bottom: 11px;
    padding: 0 75px 10px 7px;
    font-size: 15px;
  }

  @include mq(680px, max) {
    height: auto;
    margin-bottom: 9px;
    padding: 0 60px 8px 6px;
    font-size: 14px;
  }

  @include mq(480px, max) {
    margin-bottom: 7px;
    padding: 0 45px 6px 5px;
    font-size: 13px;
  }
}

.ac-container label:hover:after,
.ac-container input:checked + label:hover:after{
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  right: 13px;
  top: 7px;
  background: transparent url(../img/arrow_down.png) no-repeat center center;
}

.ac-container input:checked + label:hover:after{
  background-image: url(../img/arrow_up.png);
}

.ac-container input{
  display: none;
}

.ac-container article{
  margin-top: -1px;
  overflow: hidden;
  height: 0;
  position: relative;
  z-index: 10;
  transition:
  height 1s ease-in-out;
}

.ac-container input:checked ~ article{
  transition:
  height 1s ease-in-out;

  p {
    border-bottom: 1px solid $silver;
  }
}

.ac-container article p{
  margin-bottom: 10px;
  padding: 0 0 11px 40px;
  font-family: $proximaNova;
  font-size: 20px;
  font-weight: 400;
  color: $emperor;

  @include mq(1100px, max) {
    margin-bottom: 9px;
    padding: 0 0 10px 36px;
    font-size: 18px;
  }

  @include mq(900px, max) {
    margin-bottom: 8px;
    padding: 0 0 9px 30px;
    font-size: 17px;
  }

  @include mq(800px, max) {
    margin-bottom: 7px;
    padding: 0 0 8px 26px;
    font-size: 15px;
  }

  @include mq(640px, max) {
    margin-bottom: 6px;
    padding: 0 0 7px 21px;
    font-size: 14px;
  }

  @include mq(480px, max) {
    margin-bottom: 5px;
    padding: 0 0 6px 16px;
    font-size: 13px;
  }
}

.ac-container input:checked ~ article.ac-small{
  height: auto;
}

.ac-container input:checked ~ article.ac-medium{
  height: auto;
}

.ac-container input:checked ~ article.ac-large{
  height: auto;
}

.main-question__button {
  margin: 47px 0 71px 0;

  @include mq(1100px, max) {
    margin: 42px 0 64px 0;
  }

  @include mq(900px, max) {
    margin: 35px 0 52px 0;
  }

  @include mq(800px, max) {
    margin: 31px 0 46px 0;
  }

  @include mq(640px, max) {
    margin: 25px 0 37px 0;
  }

  @include mq(480px, max) {
    margin: 19px 0 27px 0;
  }
}

.main-question__button-link {
  margin-left: 28px;
  font-family: $proximaNova-semibold;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  color: $emperor;
  background: $malachite;
  border: none;

  @include mq(1100px, max) {
    margin-left: 25px;
    font-size: 12px;
  }

  @include mq(900px, max) {
    margin-left: 21px;
    font-size: 11px;
  }

  @include mq(800px, max) {
    margin-left: 18px;
    font-size: 10px;
  }

  @include mq(640px, max) {
    margin-left: 15px;
  }

  @include mq(480px, max) {
    margin-left: 11px;
  }

  &:hover {
    transition: all 0.3s;
    background: $fun-green;
  }

  &:not(:hover) {
    transition: all 0.3s;
  }
}


                            /*   main-cleaning   */

.main-cleaning {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  background: url('../img/07.png') no-repeat;
  background-position: 22% 20%;
  background-size: 100% 100%;
}

.main-cleaning__wrapper {
  width: 960px;
  height: 251px;
  margin: 77px 0 69px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $white;
  border-radius: 3px;

  @include mq(1100px, max) {
    width: 770px;
    height: 156px;
    margin: 70px 0 62px 0;
  }

  @include mq(900px, max) {
    width: 710px;
    height: auto;
    margin: 57px 0 51px 0;
  }

  @include mq(800px, max) {
    width: 495px;
    margin: 51px 0 46px 0;
  }

  @include mq(640px, max) {
    width: 356px;
    margin: 41px 0 36px 0;
  }

  @include mq(480px, max) {
    width: 277px;
    margin: 31px 0 27px 0;
  }
}

.main-cleaning__title {
  margin: 35px 0 31px 0;
  font-family: $proximaNova-semibold;
  font-size: 40px;
  color: $mine-shaft;

  @include mq(1100px, max) {
    margin: 15px 0;
    font-size: 22px;
  }

  @include mq(900px, max) {
    margin: 12px 0;
    font-size: 18px;
  }

  @include mq(800px, max) {
    margin: 17px 0;
    font-size: 25px;
  }

  @include mq(640px, max) {
    margin: 15px 0;
    font-size: 21px;
  }

  @include mq(480px, max) {
    font-size: 19px;
  }
}

.main-cleaning__form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  @include mq(800px, max) {
    flex-direction: column;
    align-items: center;
  }
}

.main-cleaning__form-object {
  width: 221px;
  height: 48px;
  padding-left: 14px;
  display: flex;
  align-items: center;
  border: 1px solid $french-gray;
  border-radius: 2px;
  font-family: $proximaNova;
  font-size: 14px;
  background: $white;
  color: $mine-shaft;

  @include mq(1100px, max) {
    width: 148px;
    height: 43px;
    padding-left: 12px;
    font-size: 12px;
  }

  @include mq(900px, max) {
    width: 123px;
    height: 35px;
    padding-left: 5px;
    font-size: 12px;
  }

  @include mq(800px, max) {
    width: 196px;
    height: 48px;
    padding-left: 14px;
    font-size: 14px;
  }

  @include mq(640px, max) {
    width: 176px;
    height: 43px;
    padding-left: 12px;
    font-size: 12px;
  }

  @include mq(480px, max) {
    width: 164px;
    height: 35px;
    padding-left: 10px;
    font-size: 12px;
  }
}

.main-cleaning__form-rooms {
  display: flex;
  margin: 0 16px;
  border: 1px solid $french-gray;
  border-radius: 2px;

  @include mq(1100px, max) {
    margin: 0 14px;
  }

  @include mq(900px, max) {
    margin: 0 12px;
  }

  @include mq(800px, max) {
    margin: 20px 0;
  }

  @include mq(640px, max) {
    margin: 15px 0;
  }

  @include mq(480px, max) {
    margin: 13px 0;
  }
}

.main-cleaning__form-room {
  width: 111px;
  padding-left: 14px;
  display: flex;
  align-items: center;
  height: 46px;
  font-family: $proximaNova;
  font-size: 14px;
  border: none;
  border-right: 1px solid $french-gray;
  background: $white;
  color: $mine-shaft;

  @include mq(1100px, max) {
    width: 100px;
    height: 41px;
    padding-left: 12px;
    font-size: 12px;
  }

  @include mq(900px, max) {
    width: 82px;
    height: 34px;
    padding-left: 5px;
    font-size: 12px;
  }

  @include mq(800px, max) {
    width: 97px;
    height: 46px;
    padding-left: 7px;
    font-size: 14px;
  }

  @include mq(640px, max) {
    width: 87px;
    height: 41px;
    padding-left: 6px;
    font-size: 12px;
  }

  @include mq(480px, max) {
    width: 81px;
    height: 35px;
    padding-left: 3px;
    font-size: 12px;
  }
}

.main-cleaning__form-phone {
  width: 190px;
  height: 44px;
  margin-right: 16px;
  padding-left: 14px;
  display: flex;
  align-items: center;
  border: 1px solid $french-gray;
  border-radius: 2px;
  font-family: $proximaNova;
  font-size: 14px;
  background: $white;
  color: $mine-shaft;

  @include mq(1100px, max) {
    width: 108px;
    height: 41px;
    padding-left: 12px;
    font-size: 12px;
  }

  @include mq(900px, max) {
    width: 103px;
    height: 32px;
    padding-left: 5px;
    font-size: 12px;
  }

  @include mq(800px, max) {
    width: 196px;
    height: 48px;
    margin: 0 0 20px 0;
    box-sizing: border-box;
    padding-left: 14px;
    font-size: 14px;
  }

  @include mq(640px, max) {
    width: 176px;
    height: 43px;
    padding-left: 12px;
    font-size: 12px;
  }

  @include mq(480px, max) {
    width: 164px;
    height: 35px;
    padding-left: 10px;
    font-size: 12px;
  }
}

.main-cleaning__form-bathroom {
  width: 111px;
  padding-left: 14px;
  display: flex;
  align-items: center;
  height: 46px;
  font-family: $proximaNova;
  font-size: 14px;
  border: none;
  background: $white;
  color: $mine-shaft;

  @include mq(1100px, max) {
    width: 100px;
    height: 41px;
    padding-left: 12px;
    font-size: 12px;
  }

  @include mq(900px, max) {
    width: 82px;
    height: 34px;
    padding-left: 5px;
    font-size: 12px;
  }

  @include mq(800px, max) {
    width: 97px;
    height: 46px;
    padding-left: 7px;
    font-size: 14px;
  }

  @include mq(640px, max) {
    width: 87px;
    height: 41px;
    padding-left: 6px;
    font-size: 12px;
  }

  @include mq(480px, max) {
    width: 81px;
    height: 35px;
    padding-left: 3px;
    font-size: 12px;
  }
}

.main-cleaning__form-button {
  width: 196px;
  height: 48px;
  box-sizing: border-box;
  box-shadow: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $proximaNova;
  font-size: 14px;
  text-transform: uppercase;
  color: $black;
  background: $malachite;
  border-radius: 3px;
  border: none;
  text-decoration: none;

  @include mq(1100px, max) {
    width: 176px;
    height: 43px;
    font-size: 12px;
  }

  @include mq(900px, max) {
    width: 145px;
    height: 36px;
    font-size: 11px;
  }

  @include mq(800px, max) {
    width: 196px;
    height: 48px;
    font-size: 14px;
  }

  @include mq(640px, max) {
    width: 176px;
    height: 43px;
    font-size: 12px;
  }

  @include mq(480px, max) {
    width: 164px;
    height: 35px;
    font-size: 12px;
  }

  &:hover {
    transition: all 0.5s;
    background: $fun-green;
    color: $white;
  }

  &:not(:hover) {
    transition: all 0.5s;
  }
}

.main-cleaning__comment {
  margin: 21px 0 25px 0;
  font-family: $proximaNova-light;
  font-size: 12px;
  color: $black;

  @include mq(800px, max) {
    width: 90%;
    text-align: center;
    font-size: 11px;
  }
}


                              /*   main-instagram   */

.main-instagram {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $white;
}

.main-instagram__caption {
  margin: 37px 0 27px 0;
  font-family: $proximaNova-semibold;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  color: $emperor;
  text-align: center;

  @include mq(1100px, max) {
    margin: 33px 0 24px 0;
    line-height: 32px;
  }

  @include mq(900px, max) {
    margin: 27px 0 20px 0;
    font-size: 27px;
    line-height: 27px;
  }

  @include mq(800px, max) {
    margin: 24px 0 18px 0;
    font-size: 22px;
    line-height: 24px;
  }

  @include mq(640px, max) {
    margin: 19px 0 14px 0;
    font-size: 20px;
    line-height: 19px;
  }

  @include mq(480px, max) {
    margin: 15px 0 11px 0;
    font-size: 16px;
    line-height: 14px;
  }
}

.main-instagram__list {
  width: 960px;
  margin-bottom: 97px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

  @include mq(1100px, max) {
    width: 600px;
    margin-bottom: 77px;
  }

  @include mq(640px, max) {
    width: 300px;
    margin-bottom: 47px;
  }
}

.main-instagram__link {
  width: 212px;
  height: 212px;
  box-sizing: border-box;
  padding: 7px;
  border: 1px solid $gallery;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);

  @include mq(1100px, max) {
    margin: 20px 0;
  }

  @include mq(480px, max) {
    width: 170px;
    height: 170px;
  }

  &:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0,.7);
  }

  img {
    width: 196px;
    height: 196px;
    display: block;

    @include mq(480px, max) {
      width: 157px;
      height: 157px;
    }
  }
}


                              /*   main-subscription   */

.main-subscription {
  width: 100%;
  display: flex;
  justify-content: center;
  background: $wild-sand;
}

.main-subscription__logo {
  margin: 78px 0 0 0;

  @include mq(1100px, max) {
    margin: 70px 0 0 0;
  }

  @include mq(900px, max) {
    margin: 57px 0 0 0;
  }

  @include mq(800px, max) {
    margin: 51px 0 0 0;
  }

  @include mq(640px, max) {
    margin: 41px 0 0 0;
  }

  @include mq(480px, max) {
    margin: 31px 0 0 0;
  }
}

.main-subscription__logo-image {

  @include mq(1100px, max) {
    width: 103px;
    height: 100px;
  }

  @include mq(900px, max) {
    width: 85px;
    height: 82px;
  }

  @include mq(800px, max) {
    width: 75px;
    height: 73px;
  }

  @include mq(640px, max) {
    width: 61px;
    height: 58px;
  }

  @include mq(480px, max) {
    width: 45px;
    height: 43px;
  }
}

.main-subscription__contact {
  width: 560px;
  margin: 79px 0 96px 48px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @include mq(1100px, max) {
    width: 505px;
    margin: 70px 0 86px 43px;
  }

  @include mq(900px, max) {
    width: 352px;
    margin: 57px 0 71px 35px;
  }

  @include mq(800px, max) {
    width: 315px;
    margin: 51px 0 63px 31px;
  }

  @include mq(640px, max) {
    width: 260px;
    margin: 41px 0 51px 25px;
  }

  @include mq(480px, max) {
    width: 205px;
    margin: 31px 0 38px 19px;
  }
}

.main-subscription__contact-text {
  margin: 0 0 10px 0;
  font-family: $proximaNova-semibold;
  font-size: 25px;
  line-height: 30px;

  @include mq(1100px, max) {
    margin: 0 0 9px 0;
    font-size: 23px;
    line-height: 27px;
  }

  @include mq(900px, max) {
    margin: 0 0 8px 0;
    font-size: 19px;
    line-height: 23px;
  }

  @include mq(800px, max) {
    margin: 0 0 7px 0;
    font-size: 17px;
    line-height: 20px;
  }

  @include mq(640px, max) {
    margin: 0 0 6px 0;
    font-size: 14px;
    line-height: 16px;
  }

  @include mq(480px, max) {
    margin: 0 0 5px 0;
    font-size: 11px;
    line-height: 13px;
  }
}

.main-subscription__contact-phone--link {
  display: block;
  font-family: $proximaNova-semibold;
  font-size: 45px;
  line-height: 45px;
  font-weight: 400;
  text-decoration: none;
  color: $black;

  @include mq(1100px, max) {
    font-size: 41px;
    line-height: 41px;
  }

  @include mq(900px, max) {
    font-size: 33px;
    line-height: 33px;
  }

  @include mq(800px, max) {
    font-size: 29px;
    line-height: 29px;
  }

  @include mq(640px, max) {
    font-size: 23px;
    line-height: 23px;
  }

  @include mq(480px, max) {
    font-size: 17px;
    line-height: 17px;
  }

  &:hover {
    transition: 0.4s all;
    transform: scale(1.1);
  }

  &:not(:hover) {
    transition: 0.4s all;
  }
}

