$white: #ffffff;
$black: #000000;
$fun-green: #00753d;
$dusty-grey: #949494;
$gray: #808080;
$gallery: #f0f0f0; /*EAEAEA*/
$grey: #7f7f7f;
$silver: #cbcbcb;
$nobel: #b4b4b4;
$resolution-blue: #001779;
$salem: #05a72d;
$frost: #edf8e5;
$wild-sand: #f5f5f5;
$gallery-2: #EFEFEF;
$dove-gray: #616161;
$silver-chalice: #9E9E9E;
$malachite: #00e75c;
$mine-shaft: #373737;
$french-gray: #b9b9bb;
$emperor: #545454;
$alto: #e0e0e0;
$tundora: #454545;
$royal-purple: #7d3daf;
$apple: #66af3d;
$hippie-blue: #5d82b1;
$camarone: #005d25;
$woodland: #3e722b;





