@font-face {
  font-family: 'ProximaNova';
  src: url('../fonts/ProximaNova.eot'); /* IE9 Compat Modes */
  src: url('../fonts/ProximaNova.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/ProximaNova.woff2') format('woff2'), /* Modern Browsers */
  url('../fonts/ProximaNova.woff') format('woff'), /* Modern Browsers */
  url('../fonts/ProximaNova.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'ProximaNova-Semibold';
  src: url('../fonts/ProximaNova-Semibold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/ProximaNova-Semibold.woff2') format('woff2'), /* Modern Browsers */
  url('../fonts/ProximaNova-Semibold.woff') format('woff'), /* Modern Browsers */
  url('../fonts/ProximaNova-Semibold.ttf') format('truetype');
  font-style: normal;
  font-weight: bold;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'ProximaNova-Light';
  src: url('../fonts/ProximaNova-Light.eot'); /* IE9 Compat Modes */
  src: url('../fonts/ProximaNova-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/ProximaNova-Light.woff2') format('woff2'), /* Modern Browsers */
  url('../fonts/ProximaNova-Light.woff') format('woff'), /* Modern Browsers */
  url('../fonts/ProximaNova-Light.ttf') format('truetype');
  font-style: normal;
  font-weight: 100;
  text-rendering: optimizeLegibility;
}

