
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin mq($width, $type: min) {
  @media only screen and (#{$type}-width: $width) {
    @content;
  }
}

/*
@media only screen and (max-width: 1100px) {

                              // ---header---
  .header__logo {
    padding: 0 0 0 15px;
  }

                              // ---main_center---

  .main_center {
  }

  .main_content {
    max-width: 719px;
  }


  .content_new-products {
    max-width: 729px;
  }

  .new-product {
    img:first-child {
      width: 95%;
    }

    img:last-child {
      margin-left: 5px;
    }
  }


}*/



/*

@mixin mq($width, $type: min) {
  @media only screen and (max-width: 1200px) {
  .header__contener {
    width: 100%;
  }
  .main_sidebar {
    width: auto;
  }

  .main_center {
    width: auto;
  }

  .main_banner {
    img {
      width: auto;
    }
  }
}

  @media only screen and (max-width: 1100px) {
    .header__logo {
      display: none;
      margin: 18px 0 auto 15px;
    }

  }
}
*/













/*
.header__contener {
  display: flex;
  flex-direction: row;
  width: 1172px;
  height: 115px;
  background-color: $mine-shaft;

  @include mq(1200px, max) {
    max-width: 900px;
  }
}
*/
