$opensans: 'OpenSans', 'Arial', sans-serif;
$opensans-light: 'OpenSans-Light', 'Arial', sans-serif;
$opensans-bold: 'OpenSans-Bold', 'Arial', sans-serif;
$proximaNova: 'ProximaNova', 'Arial', sans-serif;
$proximaNova-semibold: 'ProximaNova-Semibold', 'Arial', sans-serif;
$proximaNova-light: 'ProximaNova-Light', 'Arial', sans-serif;
$fontpath: '../fonts/';

